<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true" thread-count="2">
  <test  name="Google Chrome Test">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.cg.project.test.UnitTestForGoogleChrome"/>
    </classes>
  </test>
  <test  name="Fire Fox Test">
  <parameter name="browser"  value="firefox"/>
    <classes>
      <class name="com.cg.project.test.UnitTestForFireFox"/>
    </classes>
  </test>
</suite> 
